@page
@model RV_Park_Reservation_System.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container">
    <h1 class="display-4 text-center text-primary my-5">ADMIN DASHBOARD</h1>
    <div class="row flex-wrap">
        <div class="col-12 col-md-4">
            <div class="col-12 pb-5">
                <div class="card" style="width: 18rem;">
                    <div class="card-body p-0">
                        <h5 class="card-title text-white bg-primary text-center p-3">DAILY RESERVATIONS</h5>
                        <div class="px-3">
                            <div class="row mb-2 px-3 align-content-center flex-nowrap">
                                <h6 class="col-6 text-danger m-0">Check-ins: </h6><span class="m-0" id="dashboardReserved"> @Model.checkins</span>
                            </div>
                            <div class="row mb-2 px-3 align-content-center flex-nowrap">
                                <h6 class="col-6 text-danger m-0">Check-outs: </h6><span class="m-0" id="dashboardReserved"> @Model.checkouts</span>
                            </div>
                            <div class="row mb-2 px-3  align-content-center flex-nowrap">
                                <h6 class="col-6 text-success m-0">Ongoing: </h6><span class="m-0" id="dashboardOpen"> @Model.ongoing</span>
                            </div>
                        </div>
                        <div class="text-center my-3">
                            <a class="btn btn-success" asp-page="/Admin/Reservations/Index">Manage</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body p-0">
                        <h5 class="card-title text-white bg-primary text-center p-3">SITES</h5>
                        <div class="px-3">
                            <div class="row mb-2 px-3 align-content-center flex-nowrap">
                                <h6 class="col-6 text-danger m-0">Reserved: </h6>&nbsp<span class="m-0" id="dashboardReserved"> @Model.occupancies.Count</span>
                            </div>
                            <div class="row mb-2 px-3  align-content-center flex-nowrap">
                                <h6 class="col-6 text-success m-0">Open: </h6>&nbsp<span class="m-0" id="dashboardOpen"> @Model.vacancies.Count</span>
                            </div>
                        </div>
                        <div class="text-center my-3">
                            <a class="btn btn-success" asp-page="/Admin/Sites/Index">Manage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div>
                <h2>Sites</h2>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">Length</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.vacancies.Count != 0)
                        {
                            @for (int i = 0; i < Model.vacancies.Count; i++)
                            {
                                <tr>
                                    <th scope="row">@Model.vacancies[i].SiteNumber</th>
                                    <td>@Model.vacancies[i].SiteLength</td>
                                    <td>@Model.vacancies[i].SiteDescription</td>
                                    <td class="text-success"><b>VACANT</b></td>
                                </tr>
                            }
                        }
                        @if (Model.occupancies.Count != 0)
                        {
                            @for (int i = 0; i < Model.occupancies.Count; i++)
                            {
                                <tr>
                                    <th scope="row">@Model.occupancies[i].SiteNumber</th>
                                    <td>@Model.occupancies[i].SiteLength</td>
                                    <td>@Model.occupancies[i].SiteDescription</td>
                                    <td class="text-danger"><b>OCCUPIED</b></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
