@page
@model RV_Park_Reservation_System.Pages.Admin.Reservations.ReservationsUpdateModel
@{
}

<br />
<br />
<div class="container">
    <form class="form" method="post" id="reservationForm">
        <div class="col-6">
            <input type="hidden" value="@Model.CustomerReservation.ResID" asp-for="@Model.CustomerReservation.ResID" />
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerReservation.ResID">Reservation #</label>
                <input class="form-control" asp-for="@Model.CustomerReservation.ResID" value="@Model.CustomerReservation.ResID" readonly>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerReservation.ResStartDate.Date">Reservation Start Date</label>
                <input class="form-control" asp-for="@Model.CustomerReservation.ResStartDate.Date" value="@Model.CustomerReservation.ResStartDate.Date">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerReservation.ResCreatedDate">Reservation Created Date</label>
                <input class="form-control custom-checkbox text-success" asp-for="@Model.CustomerReservation.ResCreatedDate" value="@Model.CustomerReservation.ResCreatedDate" readonly>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerInfo.CustFirstName">Customer First Name</label>
                <input class="form-control" asp-for="@Model.CustomerInfo.CustFirstName" value="@Model.CustomerInfo.CustFirstName" readonly>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerReservation.ResEndDate.Date">Reservation End Date</label>
                <input class="form-control" asp-for="@Model.CustomerReservation.ResEndDate.Date" value="@Model.CustomerReservation.ResEndDate.Date">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerReservation.ResVehicleLength">Reservation Vehicle Length (in ft)</label>
                <input class="form-control" asp-for="@Model.CustomerReservation.ResVehicleLength" value="@Model.CustomerReservation.ResVehicleLength">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerInfo.CustLastName">Customer Last Name</label>
                <input class="form-control" asp-for="@Model.CustomerInfo.CustLastName" value="@Model.CustomerInfo.CustLastName" readonly>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerReservation.ResNumAdults">Reservation Number of Adults</label>
                <input class="form-control" asp-for="@Model.CustomerReservation.ResNumAdults" value="@Model.CustomerReservation.ResNumAdults">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerReservation.Vehicle_Type">Reservation Vehicle Type</label>
                <input class="form-control" asp-for="@Model.CustomerReservation.Vehicle_Type" value="@Model.CustomerReservation.Vehicle_Type">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerInfo.CustPhone">Customer Phone #</label>
                <input class="form-control" asp-for="@Model.CustomerInfo.CustPhone" value="@Model.CustomerInfo.CustPhone" readonly>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerReservation.ResNumChildren">Reservation Number of Children</label>
                <input class="form-control" asp-for="@Model.CustomerReservation.ResNumChildren" value="@Model.CustomerReservation.ResNumChildren">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerReservation.Reservation_Status">Reservation Status</label>
                <input class="form-control" asp-for="@Model.CustomerReservation.Reservation_Status" value="@Model.CustomerReservation.Reservation_Status">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerReservation.SiteID">Site Number</label>
                <input class="form-control" asp-for="@Model.CustomerReservation.SiteID" value="@Model.CustomerReservation.SiteID">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerReservation.ResNumPets">Reservation Number of Pets</label>
                <input class="form-control" asp-for="@Model.CustomerReservation.ResNumPets" value="@Model.CustomerReservation.ResNumPets">
            </div>
            <div class="form-group col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerInfo.Service_Status_Type">Customer Service Status</label>
                <input class="form-control" asp-for="@Model.CustomerInfo.Service_Status_Type" value="@Model.CustomerInfo.Service_Status_Type" readonly>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerReservation.ResAcknowledgeValidPets">Customer 2-Pet Policy Acknowledged?</label>
                <input class="form-control" asp-for="@Model.CustomerReservation.ResAcknowledgeValidPets" value="@Model.CustomerReservation.ResAcknowledgeValidPets">
            </div>
            <div class="form-group col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerInfo.DOD_Affiliation">Customer DOD Affiliation</label>
                <input class="form-control" asp-for="@Model.CustomerInfo.DOD_Affiliation" value="@Model.CustomerInfo.DOD_Affiliation" readonly>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CustomerReservation.ResComment">Reservation Comments</label>
                <textarea class="form-control" asp-for="@Model.CustomerReservation.ResComment" rows="5" value="@Model.CustomerReservation.ResComment"></textarea>
            </div>
            <div class="form-group col-md-4">

            </div>
        </div>
        <button type="submit" class="btn btn-success text-light" asp-route-value="update">Update</button>
        <input type="submit" id="deleteRecord" value="Delete" class="btn btn-danger text-light" asp-route-value="delete"/>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        $("#deleteRecord").on("click", function (e) {
            e.preventDefault();
            swal({
                title: "Are you sure you want to delete?",
                text: "You will not be able to restore this data!",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then(function (willDelete) {
                if (willDelete) {
                    document.getElementById("reservationForm").submit();
                    return true;
                }
                else {
                    return false;
                }
            })
        })
    </script>
}
