@page
@model RV_Park_Reservation_System.Pages.Client.PaymentSummaryModel
@using Infrastructure.Services
@using Microsoft.Extensions.Options
@inject IOptions<Infrastructure.Services.StripeSettings> Stripe
@{
}

<div class="container ">
    @if (Model.Error == true)
    {
        <div class="alert text-center alert-danger alert-dismissible fade show" role="alert">
            <span class="">There was an issue with payment, Please try again or call us at ###</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row  align-items-center vh-100">
        <div class="col-md-12">

            <div class="row  border rounded">
                <div class="col-md-6 pt-3  ">
                    <div class="row">
                        <div class=" col-12 text-center"><h2>Reservation Summary</h2></div>
                        <hr />

                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <p class="pt-4">
                                Start Date: @Model.newReservation.ResStartDate.ToString()
                                &nbsp;&nbsp; <i class="fas fa-align-center fa-arrow-right"></i> &nbsp;&nbsp;
                                End Date: @Model.newReservation.ResEndDate.ToString()
                            </p>
                        </div>
                    </div>
                    <div class="row pt-4 text-center">
                        <div class="col-4">
                            Adults: @Model.newReservation.ResNumAdults.ToString()
                        </div>
                        <div class="col-4">
                            Children: @Model.newReservation.ResNumChildren.ToString()
                        </div>
                        <div class="col-4">
                            Pets: @Model.newReservation.ResNumPets.ToString()
                        </div>
                    </div>
                    <div class="row pt-4 text-center">
                        <div class="col-6">
                            Vehicle type: @Model.vehicleType
                        </div>
                        <div class="col-6">
                            Vehicle length: @Model.newReservation.ResVehicleLength
                        </div>
                    </div>
                    <div class="row pt-4  text-center">
                        <div class="col-12">
                            total Cost: @Model.paymentObj.PayTotalCost.ToString()
                        </div>
                    </div>
                </div>
                <div class="col-md-6 border-left  pt-3 ">
                    <form method="post" class="p-2" id="payment-form">

                        <input type="hidden" id="paymentIntent" asp-for="paymentID" />
                        <div class="mb-5" id="payment-element">
                            <!-- Elements will create form elements here -->
                        </div>
                        <div class="row list-group-horizontal">
                            <div class="col-md-6">
                                <button type="submit" class="btn mt-2 mb-2 container-fluid btn-primary" id="submit">
                                    <i class="fas fa-shopping-cart"></i>Checkout
                                </button>
                                <div id="error-message">
                                    <!-- Display error message to your customers here -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a asp-page="../Index" class="btn mt-2 mb-2   container-fluid btn-primary">Cancel</a>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>




    </div>

</div>
    
@section Scripts{
    <script src="~/js/PaymentSummary.js"></script>

    <partial name="_ValidationScriptsPartial" />
}

    
