@page
@model RegisterModel
@using Infrastructure.Services
@using Microsoft.Extensions.Options

@{ ViewData["Title"] = "Register"; }
<div class="py-4 my-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group justify-content-center">
        <div class="col-10 col-md-8 col-lg-4 mx-auto">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form method="post" autocomplete="off" asp-route-returnUrl="@Model.ReturnUrl">
                        <h3 class="col-12 text-primary text-center py-4">
                            @if (User.IsInRole(SD.AdminRole))
                            {
                                <strong>Register an account!</strong> }
                            else
                            {
                                <strong>Sign Up</strong>}
                        </h3>
                        <hr />
                        <div class="form-row py-2">
                            <div class="col">
                                <div>
                                    <input type="text" asp-for="Input.FirstName" autocomplete="off" placeholder="First Name" class="form-control" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <input type="text" asp-for="Input.LastName" autocomplete="off" placeholder="Last Name" class="form-control" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="py-2">
                            <input type="email" asp-for="Input.Email" autocomplete="off" placeholder="Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input type="text" asp-for="Input.PhoneNumber" autocomplete="off" placeholder="PhoneNumber" class="form-control" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input type="password" asp-for="Input.Password" autocomplete="off" placeholder="Password" class="form-control" data- />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input type="password" asp-for="Input.ConfirmPassword" autocomplete="off" placeholder="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                          <div class="col-12">
                                <label asp-for="Input.ServiceStatusID"></label>
                            </div>
                            <div class="col-12">
                                @Html.DropDownListFor(s => s.Input.ServiceStatusID, Model.lstServiceStatus, " - Please select a service type - ", new { @class = "form-control", @id = "ddlServiceStatus" })
                                <span class="text-danger" asp-validation-for="Input.ServiceStatusID"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <label asp-for="Input.DODAffiliationID"></label>
                            </div>
                            <div class="col-12">
                                @Html.DropDownListFor(s => s.Input.DODAffiliationID, Model.lstDODAffiliation, " - Please select a service type - ", new { @class = "form-control", @id = "ddlDODAffiliation" })
                                <span class="text-danger" asp-validation-for="Input.DODAffiliationID"></span>
                            </div>
                        </div>
                        @if (User.IsInRole(SD.AdminRole))
                        {
                    <div class="py-2">
                        <input type="radio" name="rdUserRole" value="@SD.CustomerRole" /> @SD.CustomerRole
                        <input type="radio" name="rdUserRole" value="@SD.EmployeeRole" /> @SD.EmployeeRole
                        <input type="radio" name="rdUserRole" value="@SD.AdminRole" /> @SD.AdminRole
                    </div>
                        }
                        <div class="py-2">
                            <button type="submit" class="btn btn-primary form-control">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @*<script>$(function () {
            $("#datepicker").datepicker({
                yearRange: '1900: ' + new Date().getFullYear(),
                changeMonth: true,
                changeYear: true
            });
        });</script>*@
}
